#!/bin/bash

# PARAMETROS DE TARGET MEDIDOS EN VELAS
export S="15"  #Subida durante [t1,t2]
export X="4"  #Duracion en velas de [t1,t2]
export R="5"  #Caida ligera máxima permitida durante [t2,t3], en TODAS esas velas.
export M="1"  #Duración en velas de [t2,t3]
export F="5"  #Caida ligera permitida durante [t2,t3], en la ÚLTIMA vela
export B="5"  #Caida ligera permitida durante [t1,t2], en todas esas velas
export NUM_EMPRESAS="500"  #Numero de empresas descargadas
export ACTIVAR_DESCARGAS="N" #Descargar datos nuevos (S) o usar datos locales (N)
export UMBRAL_SUBIDA_POR_VELA="3" #Recomendable: 3. Umbral de subida máxima relativa de una vela respecto de subida media, en velas de 1 a X. 

