#!/bin/bash

# PARAMETROS DE TARGET MEDIDOS EN VELAS
export S="13"  #Subida durante [t1,t2]
export X="6"  #Duracion en velas de [t1,t2]
export R="5"  #Caida ligera máxima permitida durante [t2,t3], en TODAS esas velas.
export M="1"  #Duración en velas de [t2,t3]
export F="5"  #Caida ligera permitida durante [t2,t3], en la ÚLTIMA vela
export B="5"  #Caida ligera permitida durante [t1,t2], en todas esas velas
export NUM_EMPRESAS="1200"  #Numero de empresas descargadas
export NUM_EMPRESAS_INVERSION="500"  #Numero de empresas descargadas (REAL, para invertir)
export ACTIVAR_DESCARGAS="S" #Descargar datos nuevos (S) o usar datos locales (N)
export UMBRAL_SUBIDA_POR_VELA="3" #Recomendable: 3 (subida de 30% en una sola vela). Umbral de subida máxima relativa de una vela respecto de subida media, en velas de 1 a X. 
export MIN_COBERTURA_CLUSTER=5  #Porcentaje de empresas con al menos una vela positiva. Default=60
export MIN_EMPRESAS_POR_CLUSTER=5 #Numero minimo de empresas dentro de cada cluster. Default=10
export P_INICIO=20000101 #Periodo de entrenamiento con datos pasados (inicio). Si es una ejecucion del futuro, su valor debe ser 20001111
export P_FIN=20990101 #Periodo de entrenamiento con datos futuros (fin). Si es una ejecucion del futuro, su valor debe ser 20991111
export MAX_NUM_FEAT_REDUCIDAS=30 #Numero máximo de features del dataset, tras reducir las dimensiones. Debe ser un número manejable por el modelo.
export RANGO_YF="6mo" #Descarga de datos brutos en Yahoo Finance. Rangos: 6mo, 1y...
export VELA_YF="1d" #Descarga de datos brutos en Yahoo Finance. Velas: 1w, 1d, 1h...
 
