#!/bin/bash

# PARAMETROS DE TARGET MEDIDOS EN VELAS
export S="8"  #Subida durante [t1,t2]
export X="6"  #Duracion en velas de [t1,t2]
export R="15"  #(NO USADO en capa 3 python) Caida ligera máxima permitida durante [t2,t3], en TODAS esas velas.
export M="2"  #Duración en velas de [t2,t3]
export F="5"  #Caida ligera permitida durante [t2,t3], en las ÚLTIMAS velas
export B="15"  #(NO USADO en capa 3 python) Caida ligera permitida durante [t1,t2], en todas esas velas
export NUM_EMPRESAS="500"  # Numero de empresas descargadas (para ENTRENAR)
export NUM_EMPRESAS_INVERSION="1200"  #Numero de empresas descargadas (REAL, para invertir)
export ACTIVAR_DESCARGAS="S" #Descargar datos nuevos (S) o usar datos locales (N)
export UMBRAL_MINIMO_GRAN_VELA="0" # Recomendable: 3 o menor (la vela de mayor subida será como MÍNIMO xx veces superior a la media). Se queda sólo con valores con subidas gigantes repentinas (para coger solo las típicas subidas exponenciales).
export UMBRAL_SUBIDA_POR_VELA="5" #Recomendable: 3 o mayor (la vela de mayor subida será como MÁXIMO xx veces superior a la media). Quita posibles splits o subidas gigantes no predecibles. Es el umbral de subida máxima relativa de una vela respecto de subida media, en velas de 1 a X.  Ninguna vela puede superar a la media en una cantidad igual a un umbral MAXIMO en [t1,t2], pero esa variación debe superar un umbral MINIMO en [t1, t2]. Aplicable a precio, volumen...
export MIN_COBERTURA_CLUSTER=20  #Porcentaje de empresas con al menos una vela positiva. Default=60
export MIN_EMPRESAS_POR_CLUSTER=20 #Numero minimo de empresas dentro de cada cluster. Default=10
export P_INICIO=20200601 #Periodo de entrenamiento con datos pasados (inicio). Si es una ejecucion del futuro, su valor debe ser 20001111
export P_FIN=20991231 #Periodo de entrenamiento con datos futuros (fin). Si es una ejecucion del futuro, su valor debe ser 20991111
export MAX_NUM_FEAT_REDUCIDAS=50 #Numero máximo de features del dataset, tras reducir las dimensiones. Debe ser un número manejable por el modelo.
export CAPA5_MAX_FILAS_ENTRADA=25000  # Capa 5 (y siguientes): maximo numero de filas del dataset de entrada. Si tiene mas, se elegiran aleatoriamente ese numero maximo de filas Es necesario para que los tiempos no se disparen.
export RANGO_YF="1y" #Descarga de datos brutos en Yahoo Finance. Rangos: 6mo, 1y...
export VELA_YF="1d" #Descarga de datos brutos en Yahoo Finance. Velas: 1w, 1d, 1h...
export DINAMICA1="0" # Si es 1, se aplica siempre un descarte de empresas que no cumplan con las condiciones de una variable elaborada basada en condiciones dinámicas de la empresa (por ejemplo: que el change de hoy sea positivo, o que esté por encima de SMA20). Así se evita que SMOTEEEN genere muchas minoritarias (reducimos la tasa de desbalanceo). No aplica al subgrupo 0. RECOMENDABLE A 0.
export DINAMICA2="0" # Si es 1, se aplica siempre un descarte de empresas al crear los subgrupos, para aquellas filas de empresas cuya tasa de desbalanceo sea superior a una cantidad (ver Java MAXIMO_DESBALANCEO), y con un mínimo de valores (20) para calcular ese desbalanceo. Así se evita que SMOTEEEN genere muchas minoritarias (reducimos la tasa de desbalanceo). El valor analizado (mayoritarios y minoritarios) es el target. No aplica al subgrupo 0. RECOMENDABLE A 1.
export REALIMENTACION="S" # Puede valer: S (activa la realimentacion, acumulando aprendizaje en /BolsaJava/realimentacion/) o N (no usar realimentacion, pero sin borrar el aprendizaje ya acumulado)
export FP_VIGENCIA_MAX=30  # [PENDIENTE] Maximo tiempo (dias) en que los datos de falsos positivos pueden considerarse vigentes. Default: 10000
export LETRA_INICIO_LISTA_DIRECTA="A"  # Primera letra de los tickers a descargar en modo normal (no invertido)
