#!/bin/bash

# PARAMETROS DE TARGET MEDIDOS EN VELAS
export S="10"  #Subida durante [t1,t2]
export X="4"  #Duracion en velas de [t1,t2]
export R="5"  #Caida ligera máxima permitida durante [t2,t3], en TODAS esas velas.
export M="1"  #Duración en velas de [t2,t3]
export F="5"  #Caida ligera permitida durante [t2,t3], en la ÚLTIMA vela
export B="5"  #Caida ligera permitida durante [t1,t2], en todas esas velas
export NUM_EMPRESAS="1000"  #Numero de empresas descargadas
export ACTIVAR_DESCARGAS="N" #Descargar datos nuevos (S) o usar datos locales (N)
export UMBRAL_SUBIDA_POR_VELA="3" #Recomendable: 3. Umbral de subida máxima relativa de una vela respecto de subida media, en velas de 1 a X. 
export MIN_COBERTURA_CLUSTER=60  #Porcentaje de empresas con al menos una vela positiva. Defalult=60
export MIN_EMPRESAS_POR_CLUSTER=30 #Numero minimo de empresas dentro de cada cluster. Default=10
export P_INICIO=20000101 #Periodo de entrenamiento con datos pasados (inicio). Si es una ejecucion del futuro, su valor debe ser 20001111
export P_FIN=20990101 #Periodo de entrenamiento con datos futuros (fin). Si es una ejecucion del futuro, su valor debe ser 20991111
export MAX_NUM_FEAT_REDUCIDAS=20 #Numero máximo de features del dataset, tras reducir las dimensiones. Debe ser un número manejable por el modelo.
